<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('index') }}"> click here to route to index </a>
    <br>
    <a href="{{ url_for('base') }}"> click here to route to base </a>

    {% block bodyblock %}
    <h1 class="base">BASE.HTML</h1>
    <p>you are in base.html</p>
    {% endblock %}
    <script src="{{ url_for ('static', filename='js/app.js') }}"></script>
</body>
</html>