<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO HOME PAGE!</h1>
    <h3>FORM</h3>
    <form action="#" method="POST">
        <label for="firstname">Enter first name: </label>
        <input type="text" id="firstname" name="first" placeholder="Enter firstname" required="true">
        <br>
        <label for="lastname">Enter last name: </label>
        <input type="text" id="lastname" name="last" placeholder="Enter lastname" required="true">
        <br>
        <label for="email">Enter email</label>
        <input type="text" id="email" name="email" placeholder="Enter email" required="true">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>